@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

@theme {
    --breakpoint-sd: 28.125rem;
}

@keyframes anim{
    0%{
        color: rgb(225, 0, 255);
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    90%{
        color: #5a795d;
    }
    100% {
        color: rgb(225,0, 255);
        transform: translateY(0);
    }
}
